[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

black = "*"
coveralls = "*"
"flake8" = "*"
"flake8-builtins" = "*"
"flake8-deprecated" = "*"
"flake8-import-order" = "*"
hypothesis = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
tox-pipenv = "*"
tox-travis = "*"
detox = "*"


[requires]

python_version = "3.6"


[pipenv]

allow_prereleases = true
