[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
detox = "*"
"flake8" = "*"
"flake8-builtins" = "*"
"flake8-deprecated" = "*"
"flake8-import-order" = "*"
hypothesis = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
tox-pipenv = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
